body{
    background-image:  linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(https://thumbs.dreamstime.com/b/paw-fish-bone-pattern-cute-color-design-modern-print-vector-illustration-237550501.jpg);
  
}
header{
    background-color: rgb(255, 255, 143);
}
img.a{
    margin-left: 10px;
    margin-right: 30px;
}
div.right{
    float: right;
}
button.b{
    background-color: rgb(255, 255, 143);
    border: none;
    margin: 10px;
    
}
.b:hover{
background-color:rgb(252, 252, 187); 
}
button.c{
    background-color: rgb(255, 255, 143);
    border: none;
    margin: 10px;
   
}  
.c:hover{
    background-color:rgb(252, 252, 187); ;
    }
    nav.d{
        background-color:rgba(255, 226, 39, 0.695) ;
        height: 30px;
        text-align: center;
        
    }
    button.e{
        background-color:rgba(255, 226, 39, 0.695) ;
        height: 30px;
        border: none;margin-right: 10px;
        border-radius: 10px;
    }
    .e:hover{
        background-color: rgba(254, 239, 143, 0.695) ;
    }
    div.border{
        border-radius: 20px;
        border-right:1px solid rgba(0, 0, 0, 0.39);
        border-bottom:1px solid rgba(0, 0, 0, 0.39);
        margin-top: 30px;
    }
    h1{
        text-align: center;
    }
    
    div.f1{
      background-color: aliceblue;  
      align-items: center;
      border-right: 1px solid grey;
      border-bottom: 1px solid grey;
      margin-top: 30px;
      border-radius: 30px;
      padding: 10px;
      font-size: larger;
      width: 80%;
      margin:30px auto;
    }
    img.g{
       
        border-radius: 10px;
        margin:10px 10px 10px 60px;
      
    }
    .h1{
        text-align: center;
        color: aqua;
        font-size: 50px;

    }
    fieldset.h{
      border: 7px solid aqua;
      text-align: center;
    }
    