div.a{
    text-align: center;
    align-items: center;
    background-color: beige;

}
div.a1{
   display: flex;
}
img.b2{
    border-radius: 10px;
}
@media (max-width: 768px) {
    .footer-column {
        max-width: 100%;
        text-align: center;
    }
}